body {
    margin: 0;
}

.mainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.typeContainer {
    width: 15%;
}

.mainApp{
    display: flex;
    justify-content: center;
}